PUBLIC_SITE_URL=https://arasliving.ie
PUBLIC_FORMSPREE_ID=xxxxxxxx
PUBLIC_WHATSAPP_NUMBER=353XXXXXXXXX
PUBLIC_GA4_ID=G-XXXXXXXXXX
PUBLIC_META_PIXEL_ID=xxxxxxxxxx
PUBLIC_MAPS_EMBED_URL=https://www.google.com/maps/embed?pb=...
